In [ ]:
rent=1200
gas=202.7
groceries=700
print("Rent is",rent)
print("Gas is",gas)
print("Groceries is",groceries)
print("The total of rent, gas and groceries is",total)  # Here I am using total function instead of creating a variable total and pasting the values of rent, gas and groceries into it.

In [7]:
2+4

6

In [8]:
0*0

0

In [9]:
1%2

1

In [10]:
1/2

0.5

In [12]:
0.5**3

0.125

In [17]:
##Question 1: A car is moving from Delhi to Mumbai and Mumbai to Shimla. Find out the total distance and total time taken by it.Given Delhi to Mumbai = 1200km and Mumbai to Shimla = 1600km. ##

DM = 1200
MS = 1600
Total_Distance = DM + MS
Speed = 55
Time = Total_Distance/Speed  # Using the mathematical formula for calculating the time.
print("The Total Distance covered by the car is", Total_Distance)
print("The Total Time taken by the car is", round(Time,2))  # Round function is used to round the float values upto a specific decimals just like upto 2,3 and so on.

The Total Distance covered by the car is 2800
The Total Time taken by the car is 50.91

In [26]:
# STRINGS

Text = "Summer"
print(Text)

address = '''1 Purple Street
New York
USA'''
print("Address is:", address)

s1 = "a"
s2 = "b"
print(s1+s2)
print(s1+' '+s2)

s1 = "Number of states in India are #"
s2 = 29
print(s1+ " " +str(s2))

Summer
Address is: 1 Purple Street
New York
USA
ab
a b
Number of states in India are # 29

LISTS