FUNCTIONS

In [13]:
# Functions is a block of code that performs a specic task. Functions makes your code more readable and more modular.

# Question:- You are given two lists of numbers and you need to find out the total of each list.
# Given Lists are:  list1 = [2100,2200,2300] and list2 = [2400,2000,1900]

def calculate_total(exp):
    total = 0
    for item in exp:
        total = total + item
    return total
list1 = [2100,2200,2300]
list2 = [2400,2000,1900]

Om_total = calculate_total(list1)
Tom_total = calculate_total(list2)
print("Om's total expense is", Om_total)
print("Tom's total expense is", Tom_total)

Om's total expense is 6600
Tom's total expense is 6300

DICTIONARIES AND TUPLES

In [23]:
# Dictionary allows you to store the key and value pairs. Also known as Maps, Hashtables, Associate Arrays.

d = {"tom":8787878787, "tuo":9898989898}    # Here, key is tom and tuo and value is 8787878787 and 9898989898 respectively.
d["tom"]

8787878787

In [24]:
d = {"tom":8787878787, "tuo":9898989898}
d["sam"] = 9090909090  # Adding the Sam into the dictionary.

In [25]:
d

{'tom': 8787878787, 'tuo': 9898989898, 'sam': 9090909090}

In [26]:
del d["tuo"]  # deleting the tuo.

In [27]:
d

{'tom': 8787878787, 'sam': 9090909090}

In [28]:
for key in d:
    print("key:", key, "value:", d[key])

key: tom value: 8787878787
key: sam value: 9090909090

In [30]:
"tom" in d

True

In [31]:
"tuo" in d

False

In [32]:
d.clear()    # It will clear all the elements of dictionary.

In [33]:
d

{}

In [34]:
# TUPLES

# Tuple is a list of values grouped together.

point = [6, 8]    # I have represented the geometrical points on a plane here.

In [35]:
point[0]

6

In [36]:
point[1]

8

# MODULES

WILL COVER IT UP ON NEXT DAY.